* {
  margin: 0;
  padding: 0;
}

.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-evenly{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mx{
  margin-left: 8px;
  margin-right: 8px;
}

.my{
  margin-top: 10px;
  margin-bottom: 10px;
}

#canvas {
  border: 1px solid black;
  background-image: url(./assests/bg.jpg);
  background-position: center;
  background-repeat: "no-repeat";
  background-size: cover;
  width: 1000px;
  margin: auto;
  height: 700px;
  display: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#player, #laser {
  display: none;
}

.splash-screen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
}

.spacebar{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  background-color: black;
  width: 20%;
  color: white;
  border-radius: 10px;
  margin: auto;
}

.words{
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  margin: auto;
  color: red;
}

.title{
  color: blue;
  letter-spacing: 0.5rem;
}

.start{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.start:hover{
  background-color: darkblue;
}