* {
  margin: 0;
  padding: 0;
}

#canvas {
  border: 1px solid black;
  background-image: url(./assests/bg.jpg);
  background-position: center;
  background-repeat: "no-repeat";
  background-size: cover;
  max-width: 80%;
  margin: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#player {
  display: none;
}
